<!DOCTYPE html>
<html lang="es" class="no-js" ng-app="ciego">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<title>Ciego - Búscate un ciego en tu ciudad</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	    <meta name="apple-mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-status-bar-style" content="black"> 

		<link type="text/css" rel="stylesheet" href="style/main.css"/>



		</head>
	<body>
	<body ng-controller="MapCtrl">
		<header>
			<div class="tope_alto border_left">
				<div class="logo">
					<img src="img/logo.svg" alt="Ciego.es - Beber barato es posible">
				</div>

				<a ng-click="newGarito()" class="but" ng-hide="nuevo">Nuevo garito</a>
				<div class="nuevo" ng-show="nuevo">
						<h2>Nuevo garito</h2>
					<form ng-submit="publicarGarito()">
						<input type="text" ng-model="nuevo.nombre" placeholder="Nombre" required>
						<input type="text" ng-model="nuevo.ciudad" placeholder="Ciudad" required>
						<input type="text" ng-model="nuevo.provincia" placeholder="Provincia" required>
						<input type="text" ng-model="nuevo.direccion" placeholder="Dirección" ng-blur="codeAddress(''+nuevo.direccion+' '+nuevo.direccion+' '+nuevo.provincia)" required>
						<select ng-model="nuevo.tipo" required>
							<option value="">Selecciona...</option>
							<option value="0">Cervezas</option>
							<option value="1">Vinos</option>
							<option value="2">Copas</option>
							<option value="3">Sidras</option>
						</select>
						<input type="number" ng-model="nuevo.precio" placeholder="Precio">
						<textarea ng-model="nuevo.descripcion" placeholder="Descripción"></textarea>

						<input type="submit" value="Publicar">
						<input type="reset" value="Cancelar" ng-click="cancelarGarito()">
					</form>
				</div>

				<div class="desktop" id="resultados" ng-hide="nuevo">
					<div class="garito" ng-repeat="garito in marker | orderBy:'id':true | limitTo: 100">
						<div class="icon" ng-bind-html="tipo_svg[{{garito.tipo_id}}] | unsafe"></div>
						<h3 class="nombre" data-id="{{garito.id}}">{{garito.nombre}}</h3>
						<p class="desc">{{garito.direccion}}</p>
					</div>
				</div>
			</div>
		</header>

		<section>
			<form method="POST" id="formBuscar" ng-submit="codeAddress(data.buscar)">
				<input ng-model="data.buscar" type="text" name="buscar" placeholder="Buscar ciego en..." id="campoBuscar"/><a id="buscar" class="typcn typcn-arrow-right-thick"></a>
			</form>
			<div id="mapa"></div>
		</section>

		<footer>
			<span class="block"><b>&copy;2014 <a href="http://jaicab.com" target="_blank" title="Jaime Caballero">Jaime Caballero</a></b></span>
			<span class="block"></span>
		</footer>

		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-sanitize.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-animate.js"></script>
		
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCKld14xVtWC0JBFk3rYquXzQhShqqvmtw&sensor=false&libraries=places"></script>
		
		<script src="js/core-ck.js"></script>
	</body>
</html>