<!DOCTYPE html>
<html lang="es" class="no-js" ng-app="ciego">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<title>Ciego - Búscate un ciego en tu ciudad</title>
		<meta name="keywords" content="ciego, buscador, pedo, copas, cerveza, sidras, vino" />
		<meta name="description" content="¿De visita en otra ciudad? Búscate un ciego, bebe mucho y gasta poco." />

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	    <meta name="apple-mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-status-bar-style" content="black"> 

		<link type="text/css" rel="stylesheet" href="style/main.css"/>



		</head>
	<body>
	<body ng-controller="MapCtrl">

		<div class="aviso" ng-show="aviso">
			<a href="javascript:void(0)" ng-click="aviso = false" class="close typcn typcn-delete"></a>
			<span class="bigicon typcn typcn-{{aviso.tipo}}"></span>
			<div ng-bind-html="aviso.msg | unsafe"></div>
		</div>

		<header id="header">
			<div class="tope_alto border_left">
				<div class="logo">
					<img src="img/logo.svg" alt="Ciego.es - Beber barato es posible">
				</div><nav>
					<ul>
						<li>
							<a ng-click="toggleGarito()" ng-class="{open: nuevo}" class="button block"><span class="typcn typcn-plus"></span> Nuevo</a>
						</li><li>
							<a href="#" ng-click="aviso = avisoinfo" class="button block"><span class="typcn typcn-info-large"></span> Info</a>
						</li>
					</ul>
				</nav>
				
				<div class="nuevo" ng-show="nuevo">
					<form ng-submit="publicarGarito()">
						<div class="field">

							<input type="text" ng-model="nuevo.nombre" placeholder="Nombre" required autofocus>
						
						</div><div class="field half">
						
							<input type="text" ng-model="nuevo.ciudad" placeholder="Ciudad" ng-blur="buscarGarito()" required>
						
						</div><div class="field half">
						
						<div class="select"><select ng-model="nuevo.provincia" ng-blur="buscarGarito()" required>
								<option value="">Provincia</option>
								<option ng-repeat="provincia in provincias"  value="{{$index}}">{{provincia}}</option>
							</select></div>
						
						</div><div class="field">
						
							<input type="text" ng-model="nuevo.direccion" placeholder="Dirección" ng-blur="buscarGarito()" required>
						
						</div><div class="field half">
						
							<div class="select"><select ng-model="nuevo.tipo" required>
								<option value="">Tipo...</option>
								<option value="0">Cervezas</option>
								<option value="1">Vinos</option>
								<option value="2">Copas</option>
								<option value="3">Sidras</option>
							</select></div>
						
						</div><div class="field half">
						
							<input type="number" min="0" max="9.99" ng-model="nuevo.precio" placeholder="Precio (€)">
						
						</div><div class="field">
						
							<textarea ng-model="nuevo.descripcion" placeholder="Descripción (opcional)"></textarea>
						
						</div><div class="field">

							<label><input type="checkbox" required> Acepto las <a href="#" ng-click="aviso = {tipo:'warning', msg:'<p>Esta información pasará a formar parte de un fichero en ciego.es que se usará como contenido en la web. No se comerciará con esta información de ningún modo.</p>'}">condiciones de uso</a>.</label>

						</div><div class="field half">
						
							<input type="submit" value="Publicar">
						
						</div><div class="field half">
						
							<input type="reset" value="Cancelar" ng-click="toggleGarito()">
						
						</div>
					</form>
				</div>

				<div class="desktop" id="resultados" ng-hide="nuevo">
					<h2>
						<span ng-show="marker.length == 0">No hemos encontrado garitos</span>
						<span ng-show="marker.length == 1">{{marker.length}} garito</span>
						<span ng-show="marker.length > 1">{{marker.length}} garitos</span>
						<span ng-show="lugar"> en {{lugar}}</span>.</h2>
					<div class="garito" ng-repeat="garito in marker | limitTo: 100">
						<div class="precio">{{garito.precio}}</div>
						<div class="icon" ng-click="info($index)" ng-bind-html="tipo_svg[{{garito.tipo_id}}] | unsafe"></div>
						<h3 class="nombre" ng-click="info($index)" data-id="{{garito.id}}"><a href="#">{{garito.nombre}}</a></h3>
						<p class="direccion">
							{{garito.direccion}} - 
							{{garito.ciudad}} ({{provincias[garito.provincia]}})
						</p>
					</div>
				</div>
			</div>
		</header>

		<section id="section">
			<form method="POST" id="formBuscar" ng-submit="codeAddress(data.buscar)">
				<input ng-model="data.buscar" type="text" name="buscar" placeholder="Buscar ciego en..." id="campoBuscar"/><a id="buscar" class="typcn typcn-arrow-right-thick"></a>
			</form>
			<div id="mapa"></div>
		</section>

		<footer>
			<span class="block"><b><a href="http://jaicab.com" target="_blank" title="Jaime Caballero">Jaime Caballero</a></b> <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a></span>
			<span class="block"></span>
		</footer>

		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCKld14xVtWC0JBFk3rYquXzQhShqqvmtw&amp;sensor=false&amp;libraries=places"></script>
		
		<script src="js/core-ck.js"></script>
	</body>
</html>