input, 
textarea,
select
{
	font: inherit;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	outline-color: $color_text;
	border-radius:0;
	padding: .5em;
	font-size: .8em;
	margin: 0;
	border: 1px solid $color_border;
	background: $color_text;
	color: $color_background;
}

textarea{
	resize:vertical;
	min-height: 120px;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
.button{
	text-align: center;
	display: inline-block;
	padding:0.5em;
	font-size: 0.8em;

	transition: 0.5s cubic-bezier(.29,1.24,.96,1.25);
	background:$color_alter;
	border: none;
	color:$color_text;

	&.block{
		width: 100%;
	}

}

nav{
	.button{
		background: $color_logo;
		transition: 0.5s;
		font-size: 0.85em;

		&.open{
			background: $color_alter;
		}
	}
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
.button:hover,
.button:active,
.button:focus
{
	background: $color_logo;
	color: white;
	cursor: pointer;
}

/*checkbox y radio*/
input[type="checkbox"],
input[type="radio"]{
	width:auto;
	-webkit-appearance:radio;
	display: inline-block;
	margin: 0.5em;
}
input[type="checkbox"]{
	-webkit-appearance:checkbox;
}

/*select*/
.select{
	position:relative;
	display: block;
}
.select select{
}
.select:after{
	content: "▼";
	color: $color_logo;
	font-style: normal;
	font-weight: normal;
	speak: none;
	pointer-events:none;
	
	display: inline-block;
	text-decoration: inherit;
	width: 2em;
	margin:2px;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	 
	/* fix buttons height, for twitter bootstrap */
	line-height: 2em;

	position:absolute;
	top:0;
	bottom:0;
	right:0;
}



.field{
	padding: 0.25em;

	&.half{
		width: 50%;
		display: inline-block;
	}
}


