header{

	.logo{
		text-align: center;
	}
	img{
		margin:0;
		padding:1em .5em;
	}

	@include bp(desktop-small) {
		height: 100%;
		position:fixed;
		top:0;
		right:0;
		width:25%;
		overflow:auto;
		
		h1{
			font-size:4em;
		}
	}
}