svg.beer{
	fill:yellow;
	stroke: white;
}
svg.wine{
	fill:#e60074;
	stroke: white;
}
svg.drink{
	fill:white;
	stroke: white;
}
svg.cider{
	fill:green;
	stroke: white;
}
.garito .nombre{
	font-weight: bold;
	margin:0;
}
.garito .desc{
	margin:0;
	clear:left;
}